
.sidebar {
    width: 350px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 24px 32px;
}

.logo {
    margin-top: 23px;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;

}


.search-container {
    position: relative;
    margin-bottom: 20px;
}

.search-img {
    position: absolute;
    top: 9px;
    left: 15px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 42px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    position: relative;
}

.menu ul li img {
    width: 24px;
}


.menu-item {
    display: flex;
    gap: 12px;
    align-items: center;
}


.money {
    color: #667085;
}


.menu .active {
    background-color: #f0f0f0;
    border-radius: 4px;
}


.sidebar-arrow {
    position: absolute;
    right: 10px;
}

.menu .submenu {
    margin-left: 10px;
    margin-top: 10px;
}

.arrow-up {
    transform: rotate(180deg);

}

.menu .submenu li {

    padding: 5px 0;
    font-size: 14px;
}

.submenu-item {
    margin-top: 15px;
}

.settings {
    margin-top: 200px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
}


.balance {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px 16px;
    border-radius: 4px;
}

.balance a {
    color: #007bff;
    text-decoration: none;
}

.user-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.user-avatar {
    display: flex;
    background: #eef4ff;
    justify-content: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.user-avatar img {
    width: 24px;
}

.user-details {
    margin-left: 10px;
    flex-grow: 1;
}


.break {
    margin-top: 16px;
    color: #3538cd;
}
