* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fcfcfd;
    font-family: "Inter", serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1544px;
    padding: 0 32px;
    margin: 0 auto;
}

